/*root selektor mi dozvoljava da ciljam na roditelje sa najvisim nivoom u stablu dokumenata i da definisem globalne varijable*/
:root{
  
    --redcabbage: rgb(255, 0, 157);
    --redcabbagegradient: rgba(255, 0, 157, 0.666);
    --neonblue: rgb(76, 214, 252);
    --neonbluegradient: rgba(76, 214, 252, 0.666);
    --matrixgreen: rgb(0, 255, 0);
    --hotred: rgb(204, 0, 0);
    --terminalblue: rgb(0, 59, 153);
  }
  /*moje cyberpunk boje*/
  html {  
    /*ideja i rjesenje: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors*/
    scroll-padding-top: 6vh; /* malo manje od visine headera */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*source https://fonts.google.com/specimen/JetBrains+Mono?category=Monospace*/
    font-family: 'JetBrains Mono', monospace;
  } 
  
  .page-container{
    position: relative;
    min-height: 100vh;
  }
  
  
  body{
  
    background-image: url(../images/background-triangles.png);
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  /*what does this mean*/
  html{
    scroll-behavior: smooth;
  }
  
  
  /*header*/
  header {
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
  }
  
  nav{
    margin: 0 auto;
    
    background: var(--redcabbagegradient);
  }
  
  .nav-linkovi{
    display: flex;
    justify-content: space-evenly;
    
    margin: 0 auto;
    text-decoration: none;
  }
  
  .nav-link{
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
  }
  .nav-link a{
    text-decoration: none;
    color: var(--neonblue);
    text-shadow: 1px 1px white;
  }
  .nav-link a:hover{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20;
    background-color: var(--neonblue);
    text-shadow: 1px 1px black;
  
  }
  .nav-link a:visited{
    text-decoration: none;
    color: black;
  
  }
  a:active{
    background-color: yellow;
  }
  /*dropdown*/
  /*sadrzaj dropdowna*/
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    list-style-type: none;
    z-index: 1;
  }
  /*sadrzaj dropdowna*/
  .dropdown-content a{
    color: #00d3ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-shadow: 1px 1px black;
  
  }
  /*kursor iznad sadrzaja dropdowna*/
  .dropdown-content a:hover {background-color:  var(--neonblue)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown{
    position: relative;
    display: inline-block;
  }
  /*promijeni se boja elementa kada se prikaze sadrzaj dropdowna*/
  .dropdown-content:hover .nav-link a{
    background: var(--neonblue);
  }
  
  
  /*dropdown*/
  /*header*/
  

  /*footer*/
  footer{
    background-color:var(--neonbluegradient);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    text-shadow: 2px 2px white;
    margin-top: 100px;

  }
  
  .footer-container{
    display: flex;
    flex-direction: row;
    
  
    justify-content: space-evenly;
  }
  
  .home-in-footer,
  .copyright,
  .social-media{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .social-media a{
    display: flex;
    margin-right: 15px;
    
  }
  
  .biceps{
    height: 35px;
    margin-bottom: -5px;
  }
  
  .social-media img, .homeicon {
    height: 42px;
    object-fit: cover;
  }
  /*copyright paragraf*/
  .sadrzaj-footera p{
    
    color: var(--redcabbage);
    /*sjena teksta koja je zapravo podebljan tekst*/
    text-shadow: 1px 1px black;
  
  }
  .copyright img{
    display: inline;
  }
  
  
  
  /*
  /*ikonice za drustvene mreze*/
  .social-media{
    list-style-type: none;
    display: flex;
  }
  
  /*ikonice za drustvene mreze*/
  /*footer*/
  
  

  
  
  
  
  
  
  
  .highlight{
    background-color: black;
  }
  .username{
    color: var(--matrixgreen);
  }
  
  .rooted{
    color: var(--hotred);
  }
  





  .gallery-options-container{
    display: flex;
    justify-content: space-evenly;

  }


  @media only screen and (max-width: 1080px) {
    .flex-container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width:  100%;
    }

  }


  .introduction{
    border: 1px solid black;

    background: black;
    margin: 15vh;
    padding: 15px;

    
  }

  .listitems{
    border: 1px solid black;

    background: black;
    margin: 15vh;
    padding: 15px;
    color: white;
}

.question-mark{
    border: 1px solid black;
    width: fit-content;
    background: black;
    margin: 15vh;
    padding: 15px;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}


/*gallery1*/
.flex-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}


/*slika postane crno bijela kad je kursor iznad nje, te border radius pojaca*/
.flex-container1 img:hover{
    border-radius: 15%;
    filter: grayscale(100%);
    /*sporija tranzicija*/
    transition: ease 1s;
}


.pwc{
    
    width: 30%;
    height: 400px;
    margin-right: 20px;
    
}
.pwc img {
    width: 100%;
    object-fit: cover;
}
  

.bern{

    display: flex;
    flex-direction: row;
    width: 65%;
    background: rgba(50, 50, 50, 0.666);;
    margin-right: 20px;
    margin-top: 160px;
    margin-bottom: 220px;
    
}

.bern img {
    width: 50%;
   
}
.bern p{
    text-align: left;
    padding: 10px;
}

.flex-container1{
    color: white;
    text-shadow: 1px 1px var(--redcabbage);
}

a:active{
    color: white;
    text-shadow: 1px 1px var(--redcabbage);
    background-color: var(--neonblue);
}




.zurich1{
    
    width: 30%;
    height: 400px;
    margin-right: 20px;
    
}

.zurich1 img {
    width: 100%;
    
}

.zurich2{
    width: 30%;
    height: 600px;
    margin-right: 20px;
    
}

.zurich2 img {
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
}


.bike{
    width: 30%;
    height: 400px;
    margin-right: 20px;


}

.bike img {
    width: 100%;
    object-fit: cover;
}


.description {
    background: rgba(50, 50, 50, 0.666);
    text-align: center;
    padding: 10px;
}
.wrapper {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
  }


  @media only screen and (max-width: 1080px) {
    .flex-container1{
      flex-direction: column;
      justify-content: center;

    }
    .bike, .zurich1, .zurich2, .pwc, .bern{
        width: 100%;
        height: 100%;
        margin-bottom: 150px;
    }
    footer{
        position: fixed; 
        margin-top: 120px;
    }
    .introduction{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;
    }
  }
/*gallery1*/


  
/*both galleries*/
  /*terminal text effect*/

.highlight{
  background-color: black;
  }
  .command{
  color: var(--matrixgreen);
  }
  
  .rooted{
  color: var(--hotred);
  }
  .directory{
      color: var(--terminalblue);
  }
  
  
      /*terminal text effect*/
/**/